@model AtrendUsa.Plugin.Misc.Support.Models.SupportModel
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    Html.AddTitleParts(T("AtrendUsa.Plugin.Misc.Support.PageTitle").Text);
    Html.AddCssFileParts("~/Plugins/AtrendUsa.Plugin.Misc.Support/Content/themes/atrendusa/atrendusa.css");
}

<div class="page support-page">
    <div class="page-title">
        <h1>@T("AtrendUsa.Plugin.Misc.Support.PageTitle")</h1>
    </div>
    
    <div class="page-body">
        
        @if (Model.SuccessfullySent)
        {
            <div class="result">
                @Model.Result
            </div>
        }
        else
        {
            using (Html.BeginForm())
            {
                <div class="message-error">
                    @Html.ValidationSummary(true)
                </div>
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("AtrendUsa.Plugin.Misc.Support.Address")</strong>
                    </div>
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.LabelFor(m => m.FirstName, new { }, ":")
                            @Html.EditorFor(m => m.FirstName)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.LastName, new { }, ":")
                            @Html.EditorFor(m => m.LastName)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.Email, new { }, ":")
                            @Html.EditorFor(m => m.Email)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.CountryId, new { }, ":")
                            @Html.DropDownListFor(model => model.CountryId, Model.AvailableCountries)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.CountryId)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.StateProvince, new { }, ":")
                            @Html.EditorFor(m => m.StateProvince)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.StateProvince)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.City, new { }, ":")
                            @Html.EditorFor(m => m.City)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.City)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.AddressLine1, new { }, ":")
                            @Html.EditorFor(m => m.AddressLine1)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.AddressLine1)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.AddressLine2, new { }, ":")
                            @Html.EditorFor(m => m.AddressLine2)
                            @Html.ValidationMessageFor(m => m.AddressLine2)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.PostalCode, new { }, ":")
                            @Html.EditorFor(m => m.PostalCode)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.PostalCode)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.Phone, new { }, ":")
                            @Html.EditorFor(m => m.Phone)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.Phone)
                        </div>
                    </div>
                </div>
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("AtrendUsa.Plugin.Misc.Support.Details")</strong>
                    </div>
                    <div class="form-fields">
                        <div class="inputs">
                            @Html.LabelFor(m => m.ManufacturerId, new { }, ":")
                            @Html.DropDownListFor(model => model.ManufacturerId, Model.AvailableManufacturers)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.ManufacturerId)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.CategoryId, new { }, ":")
                            @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategories)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(model => model.CategoryId)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.ModelNumber, new { }, ":")
                            @Html.EditorFor(m => m.ModelNumber)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.ModelNumber)
                        </div>
                        <div class="inputs reversed">
                            @Html.CheckBoxFor(m => m.IsUnderWarranty)
                            @Html.LabelFor(m => m.IsUnderWarranty)
                            @Html.ValidationMessageFor(m => m.IsUnderWarranty)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.DatePurchased, new { }, ":")
                            @Html.EditorFor(m => m.DatePurchased)
                            @Html.ValidationMessageFor(m => m.DatePurchased)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.SerialNumber, new { }, ":")
                            @Html.EditorFor(m => m.SerialNumber)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.SerialNumber)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.Dealer, new { }, ":")
                            @Html.EditorFor(m => m.Dealer)
                            @Html.ValidationMessageFor(m => m.Dealer)
                        </div>
                        <div class="inputs">
                            @Html.LabelFor(m => m.Problem, new { }, ":")
                            @Html.TextAreaFor(m => m.Problem)
                            @Html.RequiredHint()
                            @Html.ValidationMessageFor(m => m.Problem)
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" name="send-email" class="button-1" value="@T("AtrendUsa.Plugin.Misc.Support.Button")" />
                </div>
            }
        }
    </div>
</div>
